In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime, timedelta

In [2]:
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.seasonal import seasonal_decompose

In [3]:
dateparse = lambda dates: pd.datetime.strptime(dates, '%Y-%m-%d')
df = pd.read_csv("./Data/crypto-markets.csv", parse_dates = ['date'], index_col  = 'date', date_parser = dateparse)
df.head()

C:\Users\annar\AppData\Local\Temp\ipykernel_22032\120803995.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  dateparse = lambda dates: pd.datetime.strptime(dates, '%Y-%m-%d')

,slug,symbol,name,ranknow,open,high,low,close,volume,market,close_ratio,spread
date,,,,,,,,,,,,
2013-04-28,bitcoin,BTC,Bitcoin,1,135.30,135.98,132.10,134.21,0,1500520000,0.5438,3.88
2013-04-29,bitcoin,BTC,Bitcoin,1,134.44,147.49,134.00,144.54,0,1491160000,0.7813,13.49
2013-04-30,bitcoin,BTC,Bitcoin,1,144.00,146.93,134.05,139.00,0,1597780000,0.3843,12.88
2013-05-01,bitcoin,BTC,Bitcoin,1,139.00,139.89,107.72,116.99,0,1542820000,0.2882,32.17
2013-05-02,bitcoin,BTC,Bitcoin,1,116.38,125.60,92.28,105.21,0,1292190000,0.3881,33.32

In [4]:
# working only on bitcoin's data
btc_data = df[df['symbol'] == 'BTC']
btc_data.head()

,slug,symbol,name,ranknow,open,high,low,close,volume,market,close_ratio,spread
date,,,,,,,,,,,,
2013-04-28,bitcoin,BTC,Bitcoin,1,135.30,135.98,132.10,134.21,0,1500520000,0.5438,3.88
2013-04-29,bitcoin,BTC,Bitcoin,1,134.44,147.49,134.00,144.54,0,1491160000,0.7813,13.49
2013-04-30,bitcoin,BTC,Bitcoin,1,144.00,146.93,134.05,139.00,0,1597780000,0.3843,12.88
2013-05-01,bitcoin,BTC,Bitcoin,1,139.00,139.89,107.72,116.99,0,1542820000,0.2882,32.17
2013-05-02,bitcoin,BTC,Bitcoin,1,116.38,125.60,92.28,105.21,0,1292190000,0.3881,33.32

In [5]:
#dropping uneccesary columns
btc_data.drop(['slug', 'volume', 'symbol', 'name', 'ranknow', 'market', 'close_ratio', 'spread'], axis = 1, inplace = True)
btc_data.head()

C:\Users\annar\AppData\Local\Temp\ipykernel_22032\185885820.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  btc_data.drop(['slug', 'volume', 'symbol', 'name', 'ranknow', 'market', 'close_ratio', 'spread'], axis = 1, inplace = True)

              open    high     low   close
date
2013-04-28  135.30  135.98  132.10  134.21
2013-04-29  134.44  147.49  134.00  144.54
2013-04-30  144.00  146.93  134.05  139.00
2013-05-01  139.00  139.89  107.72  116.99
2013-05-02  116.38  125.60   92.28  105.21

In [6]:
# take user input for the year to work with

year = input("Input the year for which you want the stats: ")

In [8]:
btc_data.loc[year].head()

               open     high      low    close
date
2018-01-01  14112.2  14112.2  13154.7  13657.2
2018-01-02  13625.0  15444.6  13163.6  14982.1
2018-01-03  14978.2  15572.8  14844.5  15201.0
2018-01-04  15270.7  15739.7  14522.2  15599.2
2018-01-05  15477.2  17705.2  15202.8  17429.5