In [1]:
import yfinance as yf
import pandas as pd

In [16]:
fo_stocks_data = pd.DataFrame()

In [37]:
fo_stocks = ['RELIANCE.NS', 'TATAMOTORS.NS', 'ICICIBANK.NS', 'ABB.NS', 'ACC.NS', 'PVR.NS']  # Replace with the list of F&O stock symbols

for symbol in fo_stocks:
    ticker = yf.Ticker(symbol)
    stock_data = ticker.history(start="2019-01-01", end="2022-01-01")  # Specify the desired date range
    stock_data['Symbol'] = symbol  # Add a column to store the stock symbol
    data = fo_stocks_data.append(stock_data)

C:\Users\annar\AppData\Local\Temp\ipykernel_4060\1162933482.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = fo_stocks_data.append(stock_data)
C:\Users\annar\AppData\Local\Temp\ipykernel_4060\1162933482.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = fo_stocks_data.append(stock_data)
C:\Users\annar\AppData\Local\Temp\ipykernel_4060\1162933482.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = fo_stocks_data.append(stock_data)
C:\Users\annar\AppData\Local\Temp\ipykernel_4060\1162933482.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = fo_stocks_data.append(stock_data)
C:\Users\annar\AppData\Local\Temp\ipykernel_4060\1162933482.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = fo_stocks_data.append(stock_data)
C:\Users\annar\AppData\Local\Temp\ipykernel_4060\1162933482.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = fo_stocks_data.append(stock_data)

In [38]:
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol
Date,,,,,,,,
2019-01-01 00:00:00+05:30,1592.587091,1597.016270,1571.735505,1587.112915,154865,0.0,0.0,PVR.NS
2019-01-02 00:00:00+05:30,1577.906326,1597.364582,1569.645370,1580.096069,237215,0.0,0.0,PVR.NS
2019-01-03 00:00:00+05:30,1582.534433,1603.933484,1510.872497,1523.512817,613132,0.0,0.0,PVR.NS
2019-01-04 00:00:00+05:30,1528.290296,1569.545625,1494.051791,1565.813232,764568,0.0,0.0,PVR.NS
2019-01-07 00:00:00+05:30,1575.567233,1589.999150,1568.052634,1575.716553,283601,0.0,0.0,PVR.NS
...,...,...,...,...,...,...,...,...
2021-12-27 00:00:00+05:30,1290.000000,1348.650024,1262.500000,1334.650024,1340343,0.0,0.0,PVR.NS
2021-12-28 00:00:00+05:30,1347.000000,1379.949951,1270.000000,1285.199951,2398260,0.0,0.0,PVR.NS
2021-12-29 00:00:00+05:30,1271.000000,1286.300049,1241.000000,1260.949951,2392589,0.0,0.0,PVR.NS
2021-12-30 00:00:00+05:30,1255.900024,1282.500000,1251.000000,1273.400024,1192801,0.0,0.0,PVR.NS
2021-12-31 00:00:00+05:30,1252.000000,1307.949951,1252.000000,1298.300049,1381082,0.0,0.0,PVR.NS

In [39]:
data['RollingReturns'] = data.groupby('Symbol')['Close'].pct_change(52)
top_performers = data.groupby('Symbol').tail(1).nlargest(5, 'RollingReturns')

top_performers

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol,RollingReturns
Date,,,,,,,,,
2021-12-31 00:00:00+05:30,1252.0,1307.949951,1252.0,1298.300049,1381082,0.0,0.0,PVR.NS,-0.244647

In [8]:
# Assuming you have access to the necessary functions for executing trades and managing positions

# Go long on the weekly top 5 performers
for stock in top_performers['Symbol']:
    # Place a buy order for the stock
    
    # Set the stop loss level as 2 times ATR on the entry price
    atr = calculate_atr(stock)  # Function to calculate Average True Range (ATR)
    entry_price = get_entry_price(stock)  # Function to get the entry price
    stop_loss = entry_price - (2 * atr)
    
    # Manage the position and stop loss for each stock
    manage_position(stock, entry_price, stop_loss)
    
# Continue with the remaining steps

NameError: name 'calculate_atr' is not defined

In [5]:
import pandas as pd
import numpy as np
import yfinance as yf
import pyfolio as pf

def get_top_performers(data, n):
    returns = data['Close'].pct_change(52)
    top_performers = returns.nlargest(n, data['Close'])
    return top_performers.index.tolist()

def calculate_atr(data, period):
    tr = pd.DataFrame()
    data['high_low'] = data['High'] - data['Low']
    tr['high_close'] = data['High'] - data['Close'].shift()
    tr['low_close'] = data['Low'] - data['Close'].shift()
    true_range = tr.max(axis=1)
    atr = true_range.rolling(window=period).mean()
    return atr


def backtest_momentum_strategy(data, n, atr_period):
    positions = []
    stop_loss = []
    
    for i in range(n, len(data)):
        top_performers = get_top_performers(data[:i], n)
        atr = calculate_atr(data[:i], atr_period)
        
        for stock in top_performers:
            entry_price = data.loc[i, 'Open'][stock]
            stop_loss_price = entry_price - 2 * atr[stock]
            
            positions.append((stock, entry_price))
            stop_loss.append((stock, stop_loss_price))
    
    return positions, stop_loss

# Example usage
stocks = ['RELIANCE.NS', 'TATAMOTORS.NS', 'ICICIBANK.NS', 'ABB.NS', 'ACC.NS', 'PVR.NS']
start_date = '2018-01-01'
end_date = '2021-12-31'

data = yf.download(stocks, start=start_date, end=end_date)
print(data)

positions, stop_loss = backtest_momentum_strategy(data, n=5, atr_period=14)

# Perform analysis using pyfolio
returns = data['Close'].pct_change().fillna(0)
positions_df = pd.DataFrame(positions, columns=['Symbol', 'Entry Price'])
positions_df.set_index('Symbol', inplace=True)
positions_df['Exit Price'] = positions_df['Entry Price'].shift(-1)
positions_df['Weight'] = 1 / len(positions_df)

portfolio = pf.create_returns_tear_sheet(returns, positions=positions_df, benchmark_rets=None)

[*********************100%***********************]  6 of 6 completed
              Adj Close                                                      \
                 ABB.NS       ACC.NS ICICIBANK.NS       PVR.NS  RELIANCE.NS
Date
2018-01-01  1336.173706  1563.415894   301.323212  1415.072021   881.918213
2018-01-02  1336.698730  1574.116455   300.740509  1394.249634   883.275330
2018-01-03  1350.302368  1602.470947   305.887177  1393.255737   886.813660
2018-01-04  1368.297485  1626.626343   305.595886  1390.472778   892.145508
2018-01-05  1370.015869  1634.392212   303.847961  1410.350952   895.005249
...                 ...          ...          ...          ...          ...
2021-12-24  2229.762207  2068.722900   722.762695  1318.900024  2365.677734
2021-12-27  2181.035400  2079.085693   731.609619  1334.650024  2363.135254
2021-12-28  2192.559082  2093.243408   731.410828  1285.199951  2391.200684
2021-12-29  2211.930664  2104.335693   731.311462  1260.949951  2395.288330
2021-12-30  2220.672363  2104.919678   731.311462  1273.400024  2352.018799

                                Close                                         \
           TATAMOTORS.NS       ABB.NS       ACC.NS ICICIBANK.NS       PVR.NS
Date
2018-01-01    424.450012  1399.650024  1731.349976   310.299988  1423.750000
2018-01-02    439.299988  1400.199951  1743.199951   309.700012  1402.800049
2018-01-03    433.899994  1414.449951  1774.599976   315.000000  1401.800049
2018-01-04    429.950012  1433.300049  1801.349976   314.700012  1399.000000
2018-01-05    431.600006  1435.099976  1809.949951   312.899994  1419.000000
...                  ...          ...          ...          ...          ...
2021-12-24    467.600006  2244.550049  2126.050049   727.099976  1318.900024
2021-12-27    471.149994  2195.500000  2136.699951   736.000000  1334.650024
2021-12-28    480.200012  2207.100098  2151.250000   735.799988  1285.199951
2021-12-29    476.000000  2226.600098  2162.649902   735.700012  1260.949951
2021-12-30    470.399994  2235.399902  2163.250000   735.700012  1273.400024

            ...         Open                                          Volume  \
            ... ICICIBANK.NS       PVR.NS  RELIANCE.NS TATAMOTORS.NS  ABB.NS
Date        ...
2018-01-01  ...   314.000000  1424.000000   914.035828    430.950012   44720
2018-01-02  ...   310.950012  1438.000000   904.426941    428.850006   62917
2018-01-03  ...   312.500000  1412.000000   916.314270    440.399994   57470
2018-01-04  ...   314.950012  1409.949951   909.528564    430.000000  154339
2018-01-05  ...   314.450012  1400.099976   913.144287    431.250000   99155
...         ...          ...          ...          ...           ...     ...
2021-12-24  ...   733.900024  1370.000000  2370.000000    474.899994  220693
2021-12-27  ...   724.000000  1290.000000  2361.550049    465.700012  134745
2021-12-28  ...   740.400024  1347.000000  2375.600098    475.200012  182668
2021-12-29  ...   738.000000  1271.000000  2391.000000    478.750000  182349
2021-12-30  ...   733.299988  1255.900024  2400.000000    472.549988  197252


            ACC.NS ICICIBANK.NS   PVR.NS RELIANCE.NS TATAMOTORS.NS
Date
2018-01-01  123565      7739502   182104     4362651       6807536
2018-01-02  277110      7046560   161070     4383980      15331261
2018-01-03  194666      8898342   143604     6233847       9794953
2018-01-04  278240      6385367    94195     4157621       8395377
2018-01-05  312489      6366054   305612     3434151       7021611
...            ...          ...      ...         ...           ...
2021-12-24  152954      8800690   932542     3639616      15487368
2021-12-27  112982      7955163  1340343     1853948      12557565
2021-12-28  704309     17833655  2398260     2941883      22860916
2021-12-29  203826      7143073  2392589     7118779      10263884
2021-12-30  216056     14326182  1192801    13537254      11923961

[987 rows x 36 columns]

ValueError: Cannot set a DataFrame with multiple columns to the single column high_low