In [1]:
import yfinance as yf
import pandas as pd

In [14]:
ticker = yf.Ticker("AAPL")
history = ticker.history(period="max")
latest_date = history.tail(1).index[0]
s_date = input("Enter the start date in (yyyy-mm-dd) format: ")

In [15]:
F_O = yf.download("^NSEI", start= s_date, end= latest_date, interval='1d')
F_O.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-12-05,18719.550781,18728.599609,18591.349609,18701.050781,18701.050781,288400
2022-12-06,18600.650391,18654.900391,18577.900391,18642.750000,18642.750000,217800
2022-12-07,18638.849609,18668.300781,18528.400391,18560.500000,18560.500000,200500
2022-12-08,18570.849609,18625.000000,18536.949219,18609.349609,18609.349609,202800
2022-12-09,18662.400391,18664.699219,18410.099609,18496.599609,18496.599609,215800

In [16]:
fo_stocks_data = pd.DataFrame()

In [17]:
fo_stocks = ['RELIANCE.NS', 'TATAMOTORS.NS', 'ICICIBANK.NS', 'ABB.NS', 'ACC.NS']  # Replace with the list of F&O stock symbols

for symbol in fo_stocks:
    ticker = yf.Ticker(symbol)
    stock_data = ticker.history(start="2019-01-01", end="2022-01-01")  # Specify the desired date range
    stock_data['Symbol'] = symbol  # Add a column to store the stock symbol
    data = fo_stocks_data.append(stock_data)

C:\Users\annar\AppData\Local\Temp\ipykernel_4060\2863241301.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = fo_stocks_data.append(stock_data)
C:\Users\annar\AppData\Local\Temp\ipykernel_4060\2863241301.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = fo_stocks_data.append(stock_data)
C:\Users\annar\AppData\Local\Temp\ipykernel_4060\2863241301.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = fo_stocks_data.append(stock_data)
C:\Users\annar\AppData\Local\Temp\ipykernel_4060\2863241301.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = fo_stocks_data.append(stock_data)
C:\Users\annar\AppData\Local\Temp\ipykernel_4060\2863241301.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = fo_stocks_data.append(stock_data)

In [18]:
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol
Date,,,,,,,,
2019-01-01 00:00:00+05:30,1399.476136,1399.476136,1360.819611,1373.551392,840791,0.0,0.0,ACC.NS
2019-01-02 00:00:00+05:30,1372.674782,1385.683271,1363.172177,1369.076660,669181,0.0,0.0,ACC.NS
2019-01-03 00:00:00+05:30,1369.076732,1377.149391,1333.510973,1339.830688,451970,0.0,0.0,ACC.NS
2019-01-04 00:00:00+05:30,1345.135742,1358.974587,1326.268828,1355.376465,532734,0.0,0.0,ACC.NS
2019-01-07 00:00:00+05:30,1367.277670,1383.653634,1357.867302,1363.541138,438357,0.0,0.0,ACC.NS
...,...,...,...,...,...,...,...,...
2021-12-27 00:00:00+05:30,2066.728185,2082.199361,2044.348360,2079.085693,112982,0.0,0.0,ACC.NS
2021-12-28 00:00:00+05:30,2084.242826,2103.800942,2081.518278,2093.243408,704309,0.0,0.0,ACC.NS
2021-12-29 00:00:00+05:30,2095.919029,2108.422634,2079.426120,2104.335693,203826,0.0,0.0,ACC.NS
2021-12-30 00:00:00+05:30,2108.568562,2113.385042,2095.140621,2104.919678,216056,0.0,0.0,ACC.NS
2021-12-31 00:00:00+05:30,2104.676510,2178.140716,2104.141293,2156.004150,467894,0.0,0.0,ACC.NS

In [7]:
data['RollingReturns'] = data.groupby('Symbol')['Close'].pct_change(52)
top_performers = data.groupby('Symbol').tail(1).nlargest(5, 'RollingReturns')

print(top_performers)

                                 Open        High         Low       Close  \
Date
2021-12-31 00:00:00+05:30  732.156362  741.798513  732.156362  735.734924

                            Volume  Dividends  Stock Splits        Symbol  \
Date
2021-12-31 00:00:00+05:30  6973055        0.0           0.0  ICICIBANK.NS

                           RollingReturns
Date
2021-12-31 00:00:00+05:30        -0.00711

In [8]:
# Assuming you have access to the necessary functions for executing trades and managing positions

# Go long on the weekly top 5 performers
for stock in top_performers['Symbol']:
    # Place a buy order for the stock
    
    # Set the stop loss level as 2 times ATR on the entry price
    atr = calculate_atr(stock)  # Function to calculate Average True Range (ATR)
    entry_price = get_entry_price(stock)  # Function to get the entry price
    stop_loss = entry_price - (2 * atr)
    
    # Manage the position and stop loss for each stock
    manage_position(stock, entry_price, stop_loss)
    
# Continue with the remaining steps

NameError: name 'calculate_atr' is not defined